.two-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    border: 1px dashed black;
  }

  .grid-item {
    width: 55px;
    border: 1px solid red;
  }
.recipe-grid {
    display: grid;
}






nav {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    height: 200px;
    width: 200px;
    margin: 0px;
}
main {
    padding: 16px;
}
body {
    margin: 0px;
    padding: 0px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 0px;
    position: absolute;
}
