{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% load static %}

    {% block content %}
    <header>
        <nav>
            <a href="{% url 'recipes_list' %}">main page</a>
            <a href='{% url "create_post" %}'> Create Recipe</a>
            <a href="{% url 'edits' recipe_object.id %}"> Edit</a>
        </nav>
    </header>
    <main>
        <h1>
            {{ recipe_object.title }}
        </h1>
        <h2> {{recipe_object.author.username|default:'Anonymous'}}</h2>
        <img src="{{ recipe_object.picture }}">
        <div>
                4.3 stars
            </div>
            <p>{{ recipe_object.description }}</p>
            <h2> Ingredients </h2>
            <table>
                <thread>
                    <th> Amount </th>
                    <th> Food Item </th>
                </thread>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ingredient.food_item}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2> Steps </h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>

        </main>
    {% endblock content %}
