{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css'%}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipes_list' %}">main page</a>
            <a href='{% url "create_post" %}'> Create Recipe</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Update</button>
        </form>
    </main>
    <footer> Made with love by Scrumptious Recipes</footer>


</body>
</html>
