{% extends 'base.html' %}
{% block title %}
    Scrumptious recipes
{% endblock title %}

{% load static %}



    {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipes_list' %}">Main Page</a>
                <a href='{% url "create_post" %}'> Create Recipe</a>
                {% if user.is_authenticated %}
                    Hello, {{user.username}}
                    <a href="{% url 'logout' %}"> Logout</a>
                    <a href="{% url 'my_recipe_list' %}">My recipes</a>
                {% else %}
                    <a href="{% url 'signup' %}"> Sign up here</a>
                    <a href="{% url 'login' %}"> Login here</a>
                {% endif %}

            </nav>
        </header>
        <main>
            <input type="text"
            name="username"
            maxlength="3"
            placeholder="Try typing four characters">
            <h1> Scrumptious Recipes </h1>
            <h2> All the food that's fit to eat</h2>

            <div class="recipe-grid">
                {% for recipe in list%}
                <div>
                    <h3>
                        <a href="details/{{recipe.id}}">{{ recipe.title }}</a>
                    </h3>
                    <img  src="{{ recipe.picture }}">
                    <div class = 'grid-item'> 4.3 stars</div>
                    <div>
                        Published {{recipe.created_on|date:"D, M d, Y"}}
                    </div>

                </div>
                {% endfor %}
            </div>
        </main>
    {% endblock content %}
